In [1]:

from database import DataBase

### DATABASE

In [2]:
# Define necessary paths and variables to start

path_to_data = '/home/saba/GitHub_personal/wwtwin/sample_data/'

In [3]:
db = DataBase(
    data_source="file",
    path_to_data_source=path_to_data,
    file_names=['Influent_BSM1.xlsx'],
    file_type="excel",
    path_to_local_db=path_to_data,
    local_database_name="test_database",
    overwrite=True,
    )

# db = DataBase(
#     data_source="database",
#     database_type="sqlite",
#     database_name="local_database.db",
#     path_to_local_db=path_to_data,
#     path_to_data_source=path_to_data,
#     local_database_name="test_database",
#     overwrite=True,
#     )

[2025-11-25 13:02:26,509] INFO: Logger initialized for database

In [4]:
db.extract_data_from_source(time_column_name='Datetime')

# db.extract_data_from_source(table_name='_raw_data', select_all=False, time_column_name='Datetime', 
#                             variable_column_names=['Q', 'Snh', 'Ss'],
#                             # filter_tagnames_column='Q', filter_tagnames=[21477],
#                             # filter_eq={'Si': 30},
#                             # filter_gt={'Snh' : 30},
#                             # filter_leq={'Ss' : 100}
#                             )

[2025-11-25 13:02:28,813] INFO: Read 1345 rows via legacy read_files()
[2025-11-25 13:02:28,831] INFO: Loaded 1345 rows into local table 'raw_data'

1345

In [6]:
db.raw_data

,t,Si,Ss,Xi,Xs,Xbh,Xba,Xp,So,Sno,Snh,Snd,Xnd,Salk,Q
Datetime,,,,,,,,,,,,,,,
2006-06-01 00:00:00.000,0.000000,30,63.63455,58.476,224.352,31.425,0,0,0,0,30.24762,6.36346,11.81400,7,21477
2006-06-01 00:15:00.000,0.010417,30,61.67313,58.459,224.324,31.420,0,0,0,0,30.21283,6.16731,11.81200,7,21474
2006-06-01 00:30:00.000,0.020833,30,61.71973,53.069,224.373,30.827,0,0,0,0,31.04771,6.17197,11.58900,7,19620
2006-06-01 00:45:00.000,0.031250,30,62.16018,51.462,220.973,30.270,0,0,0,0,31.67387,6.21602,11.38000,7,19334
2006-06-01 01:00:00.000,0.041667,30,64.57526,49.730,217.740,29.719,0,0,0,0,33.15925,6.45753,11.17200,7,18978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-06-14 23:00:00.001,13.958333,30,75.62450,47.341,198.277,27.291,0,0,0,0,34.14371,7.56245,10.26000,7,19796
2006-06-14 23:15:00.001,13.968750,30,71.87255,46.476,200.320,27.422,0,0,0,0,32.70355,7.18726,10.30900,7,19265
2006-06-14 23:30:00.001,13.979167,30,69.45669,45.632,201.079,27.412,0,0,0,0,31.46515,6.94567,10.30500,7,18862
2006-06-14 23:45:00.001,13.989583,30,67.49915,44.469,200.958,27.270,0,0,0,0,30.68245,6.74992,10.25200,7,18409
2006-06-15 00:00:00.001,14.000000,30,63.63455,58.476,224.352,31.425,0,0,0,0,30.24762,6.36346,11.81402,7,21477

In [7]:
db.extract_simulation_data(simulation_mode='real-time', simulation_period='6h')

[2025-11-25 13:02:41,853] INFO: Real-time slice: last=2006-06-15 00:00:00.001000, lookback=0 days 06:00:00, rows=24
[2025-11-25 13:02:41,863] INFO: Wrote 24 simulation rows to table 'simulation_data'.

(                                 t  Si        Ss      Xi       Xs     Xbh  \
 Datetime
 2006-06-14 18:15:00.001  13.760417  30  60.46908  36.767  176.338  23.678
 2006-06-14 18:30:00.001  13.770833  30  63.25004  37.857  177.767  23.958
 2006-06-14 18:45:00.001  13.781250  30  62.37225  36.788  179.034  23.980
 2006-06-14 19:00:00.001  13.791667  30  62.21689  35.096  178.810  23.767
 2006-06-14 19:15:00.001  13.802083  30  62.01492  31.784  176.688  23.164
 2006-06-14 19:30:00.001  13.812500  30  66.41162  32.296  173.731  22.892
 2006-06-14 19:45:00.001  13.822917  30  67.18843  36.732  173.607  23.371
 2006-06-14 20:00:00.001  13.833333  30  68.47015  39.067  176.528  23.955
 2006-06-14 20:15:00.001  13.843750  30  71.88808  39.655  179.745  24.378
 2006-06-14 20:30:00.001  13.854167  30  75.64392  42.733  182.882  25.068
 2006-06-14 20:45:00.001  13.864583  30  77.44222  38.680  185.710  24.932
 2006-06-14 21:00:00.001  13.875000  30  80.08335  35.561  184.479  24.449
 2006-06-14 21:15:00.001  13.885417  30  82.60408  37.616  182.736  24.484
 2006-06-14 21:30:00.001  13.895833  30  83.83531  45.299  184.670  25.552
 2006-06-14 21:45:00.001  13.906250  30  84.21983  43.181  189.604  25.865
 2006-06-14 22:00:00.001  13.916667  30  83.37700  43.177  191.546  26.080
 2006-06-14 22:15:00.001  13.927083  30  81.99584  44.151  193.106  26.362
 2006-06-14 22:30:00.001  13.937500  30  80.14161  40.400  193.886  26.032
 2006-06-14 22:45:00.001  13.947917  30  77.75294  48.198  194.031  26.914
 2006-06-14 23:00:00.001  13.958333  30  75.62450  47.341  198.277  27.291
 2006-06-14 23:15:00.001  13.968750  30  71.87255  46.476  200.320  27.422
 2006-06-14 23:30:00.001  13.979167  30  69.45669  45.632  201.079  27.412
 2006-06-14 23:45:00.001  13.989583  30  67.49915  44.469  200.958  27.270
 2006-06-15 00:00:00.001  14.000000  30  63.63455  58.476  224.352  31.425

                          Xba  Xp  So  Sno       Snh      Snd       Xnd  Salk  \
 Datetime
 2006-06-14 18:15:00.001    0   0   0    0  28.33436  6.04691   8.90200     7
 2006-06-14 18:30:00.001    0   0   0    0  29.26664  6.32500   9.00700     7
 2006-06-14 18:45:00.001    0   0   0    0  30.63027  6.23723   9.01500     7
 2006-06-14 19:00:00.001    0   0   0    0  30.58853  6.22169   8.93500     7
 2006-06-14 19:15:00.001    0   0   0    0  28.16043  6.20149   8.70800     7
 2006-06-14 19:30:00.001    0   0   0    0  29.79539  6.64116   8.60600     7
 2006-06-14 19:45:00.001    0   0   0    0  29.82322  6.71884   8.78600     7
 2006-06-14 20:00:00.001    0   0   0    0  30.30328  6.84702   9.00600     7
 2006-06-14 20:15:00.001    0   0   0    0  32.13305  7.18881   9.16500     7
 2006-06-14 20:30:00.001    0   0   0    0  33.77149  7.56439   9.42400     7
 2006-06-14 20:45:00.001    0   0   0    0  34.30373  7.74422   9.37300     7
 2006-06-14 21:00:00.001    0   0   0    0  35.63953  8.00834   9.19100     7
 2006-06-14 21:15:00.001    0   0   0    0  36.06393  8.26041   9.20400     7
 2006-06-14 21:30:00.001    0   0   0    0  35.93174  8.38353   9.60600     7
 2006-06-14 21:45:00.001    0   0   0    0  35.45168  8.42198   9.72400     7
 2006-06-14 22:00:00.001    0   0   0    0  35.69519  8.33770   9.80500     7
 2006-06-14 22:15:00.001    0   0   0    0  35.62561  8.19958   9.91000     7
 2006-06-14 22:30:00.001    0   0   0    0  35.37863  8.01416   9.78600     7
 2006-06-14 22:45:00.001    0   0   0    0  34.94380  7.77530  10.11800     7
 2006-06-14 23:00:00.001    0   0   0    0  34.14371  7.56245  10.26000     7
 2006-06-14 23:15:00.001    0   0   0    0  32.70355  7.18726  10.30900     7
 2006-06-14 23:30:00.001    0   0   0    0  31.46515  6.94567  10.30500     7
 2006-06-14 23:45:00.001    0   0   0    0  30.68245  6.74992  10.25200     7
 2006-06-15 00:00:00.001    0   0   0    0  30.24762  6.36346  11.81402     7

                              Q
 Datetime
 2006-06-14 18:15:00.001  17370
 2006-06-14 18:30:00.001  17735
 2006-06-14 18:45:00.001  17121
 2006-06-14 19:00:00.001  16355
 2006-06-14 19:15:00.001  14962
 2006-06-14 19:30:00.001  15477
 2006-06-14 19:45:00.001  17623
 2006-06-14 20:00:00.001  18411
 2006-06-14 20:15:00.001  18356
 2006-06-14 20:30:00.001  19395
 2006-06-14 20:45:00.001  17352
 2006-06-14 21:00:00.001  16060
 2006-06-14 21:15:00.001  17152
 2006-06-14 21:30:00.001  20304
 2006-06-14 21:45:00.001  18926
 2006-06-14 22:00:00.001  18740
 2006-06-14 22:15:00.001  18997
 2006-06-14 22:30:00.001  17359
 2006-06-14 22:45:00.001  20544
 2006-06-14 23:00:00.001  19796
 2006-06-14 23:15:00.001  19265
 2006-06-14 23:30:00.001  18862
 2006-06-14 23:45:00.001  18409
 2006-06-15 00:00:00.001  21477  ,
 24)

In [8]:
db.simulation_data

,t,Si,Ss,Xi,Xs,Xbh,Xba,Xp,So,Sno,Snh,Snd,Xnd,Salk,Q
Datetime,,,,,,,,,,,,,,,
2006-06-14 18:15:00.001,13.760417,30,60.46908,36.767,176.338,23.678,0,0,0,0,28.33436,6.04691,8.90200,7,17370
2006-06-14 18:30:00.001,13.770833,30,63.25004,37.857,177.767,23.958,0,0,0,0,29.26664,6.32500,9.00700,7,17735
2006-06-14 18:45:00.001,13.781250,30,62.37225,36.788,179.034,23.980,0,0,0,0,30.63027,6.23723,9.01500,7,17121
2006-06-14 19:00:00.001,13.791667,30,62.21689,35.096,178.810,23.767,0,0,0,0,30.58853,6.22169,8.93500,7,16355
2006-06-14 19:15:00.001,13.802083,30,62.01492,31.784,176.688,23.164,0,0,0,0,28.16043,6.20149,8.70800,7,14962
2006-06-14 19:30:00.001,13.812500,30,66.41162,32.296,173.731,22.892,0,0,0,0,29.79539,6.64116,8.60600,7,15477
2006-06-14 19:45:00.001,13.822917,30,67.18843,36.732,173.607,23.371,0,0,0,0,29.82322,6.71884,8.78600,7,17623
2006-06-14 20:00:00.001,13.833333,30,68.47015,39.067,176.528,23.955,0,0,0,0,30.30328,6.84702,9.00600,7,18411
2006-06-14 20:15:00.001,13.843750,30,71.88808,39.655,179.745,24.378,0,0,0,0,32.13305,7.18881,9.16500,7,18356
2006-06-14 20:30:00.001,13.854167,30,75.64392,42.733,182.882,25.068,0,0,0,0,33.77149,7.56439,9.42400,7,19395
2006-06-14 20:45:00.001,13.864583,30,77.44222,38.680,185.710,24.932,0,0,0,0,34.30373,7.74422,9.37300,7,17352
2006-06-14 21:00:00.001,13.875000,30,80.08335,35.561,184.479,24.449,0,0,0,0,35.63953,8.00834,9.19100,7,16060
2006-06-14 21:15:00.001,13.885417,30,82.60408,37.616,182.736,24.484,0,0,0,0,36.06393,8.26041,9.20400,7,17152
2006-06-14 21:30:00.001,13.895833,30,83.83531,45.299,184.670,25.552,0,0,0,0,35.93174,8.38353,9.60600,7,20304
2006-06-14 21:45:00.001,13.906250,30,84.21983,43.181,189.604,25.865,0,0,0,0,35.45168,8.42198,9.72400,7,18926
2006-06-14 22:00:00.001,13.916667,30,83.37700,43.177,191.546,26.080,0,0,0,0,35.69519,8.33770,9.80500,7,18740
2006-06-14 22:15:00.001,13.927083,30,81.99584,44.151,193.106,26.362,0,0,0,0,35.62561,8.19958,9.91000,7,18997
2006-06-14 22:30:00.001,13.937500,30,80.14161,40.400,193.886,26.032,0,0,0,0,35.37863,8.01416,9.78600,7,17359
2006-06-14 22:45:00.001,13.947917,30,77.75294,48.198,194.031,26.914,0,0,0,0,34.94380,7.77530,10.11800,7,20544
2006-06-14 23:00:00.001,13.958333,30,75.62450,47.341,198.277,27.291,0,0,0,0,34.14371,7.56245,10.26000,7,19796
2006-06-14 23:15:00.001,13.968750,30,71.87255,46.476,200.320,27.422,0,0,0,0,32.70355,7.18726,10.30900,7,19265
2006-06-14 23:30:00.001,13.979167,30,69.45669,45.632,201.079,27.412,0,0,0,0,31.46515,6.94567,10.30500,7,18862
2006-06-14 23:45:00.001,13.989583,30,67.49915,44.469,200.958,27.270,0,0,0,0,30.68245,6.74992,10.25200,7,18409
2006-06-15 00:00:00.001,14.000000,30,63.63455,58.476,224.352,31.425,0,0,0,0,30.24762,6.36346,11.81402,7,21477

In [9]:
db.resample_data(db.raw_data, rule='1h')

[2025-11-25 13:02:53,006] INFO: Resampled to rule=1h, rows=337, written to 'resampled_data'

(                            t    Si        Ss      Xi       Xs     Xbh  Xba  \
 Datetime
 2006-06-01 00:00:00  0.000000  30.0  63.63455  58.476  224.352  31.425  0.0
 2006-06-01 01:00:00  0.041667  30.0  64.57526  49.730  217.740  29.719  0.0
 2006-06-01 02:00:00  0.083333  30.0  69.76430  40.893  207.115  27.556  0.0
 2006-06-01 03:00:00  0.125000  30.0  53.74197  30.127  183.215  23.705  0.0
 2006-06-01 04:00:00  0.166667  30.0  44.35819  22.416  150.774  19.243  0.0
 ...                       ...   ...       ...     ...      ...     ...  ...
 2006-06-14 20:00:00       NaN   NaN       NaN     NaN      NaN     NaN  NaN
 2006-06-14 21:00:00       NaN   NaN       NaN     NaN      NaN     NaN  NaN
 2006-06-14 22:00:00       NaN   NaN       NaN     NaN      NaN     NaN  NaN
 2006-06-14 23:00:00       NaN   NaN       NaN     NaN      NaN     NaN  NaN
 2006-06-15 00:00:00       NaN   NaN       NaN     NaN      NaN     NaN  NaN

                       Xp   So  Sno       Snh      Snd     Xnd  Salk        Q
 Datetime
 2006-06-01 00:00:00  0.0  0.0  0.0  30.24762  6.36346  11.814   7.0  21477.0
 2006-06-01 01:00:00  0.0  0.0  0.0  33.15925  6.45753  11.172   7.0  18978.0
 2006-06-01 02:00:00  0.0  0.0  0.0  36.85010  6.97643  10.360   7.0  16453.0
 2006-06-01 03:00:00  0.0  0.0  0.0  32.06695  5.37420   8.912   7.0  13613.0
 2006-06-01 04:00:00  0.0  0.0  0.0  23.38772  4.43582   7.234   7.0  12198.0
 ...                  ...  ...  ...       ...      ...     ...   ...      ...
 2006-06-14 20:00:00  NaN  NaN  NaN       NaN      NaN     NaN   NaN      NaN
 2006-06-14 21:00:00  NaN  NaN  NaN       NaN      NaN     NaN   NaN      NaN
 2006-06-14 22:00:00  NaN  NaN  NaN       NaN      NaN     NaN   NaN      NaN
 2006-06-14 23:00:00  NaN  NaN  NaN       NaN      NaN     NaN   NaN      NaN
 2006-06-15 00:00:00  NaN  NaN  NaN       NaN      NaN     NaN   NaN      NaN

 [337 rows x 15 columns],
 337)

In [10]:
db.resampled_data

,t,Si,Ss,Xi,Xs,Xbh,Xba,Xp,So,Sno,Snh,Snd,Xnd,Salk,Q
Datetime,,,,,,,,,,,,,,,
2006-06-01 00:00:00,0.000000,30.0,63.63455,58.476,224.352,31.425,0.0,0.0,0.0,0.0,30.24762,6.36346,11.814,7.0,21477.0
2006-06-01 01:00:00,0.041667,30.0,64.57526,49.730,217.740,29.719,0.0,0.0,0.0,0.0,33.15925,6.45753,11.172,7.0,18978.0
2006-06-01 02:00:00,0.083333,30.0,69.76430,40.893,207.115,27.556,0.0,0.0,0.0,0.0,36.85010,6.97643,10.360,7.0,16453.0
2006-06-01 03:00:00,0.125000,30.0,53.74197,30.127,183.215,23.705,0.0,0.0,0.0,0.0,32.06695,5.37420,8.912,7.0,13613.0
2006-06-01 04:00:00,0.166667,30.0,44.35819,22.416,150.774,19.243,0.0,0.0,0.0,0.0,23.38772,4.43582,7.234,7.0,12198.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-06-14 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-06-14 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-06-14 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-06-14 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-06-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
db.format_data(db.raw_data)

[2025-11-25 13:03:00,794] INFO: format_data: wrote 1345 rows to table 'formatted_data'.

(                                 t    Si        Ss      Xi       Xs     Xbh  \
 Datetime
 2006-06-01 00:00:00.000   0.000000  30.0  63.63455  58.476  224.352  31.425
 2006-06-01 00:15:00.000   0.010417  30.0  61.67313  58.459  224.324  31.420
 2006-06-01 00:30:00.000   0.020833  30.0  61.71973  53.069  224.373  30.827
 2006-06-01 00:45:00.000   0.031250  30.0  62.16018  51.462  220.973  30.270
 2006-06-01 01:00:00.000   0.041667  30.0  64.57526  49.730  217.740  29.719
 ...                            ...   ...       ...     ...      ...     ...
 2006-06-14 23:00:00.001  13.958333  30.0  75.62450  47.341  198.277  27.291
 2006-06-14 23:15:00.001  13.968750  30.0  71.87255  46.476  200.320  27.422
 2006-06-14 23:30:00.001  13.979167  30.0  69.45669  45.632  201.079  27.412
 2006-06-14 23:45:00.001  13.989583  30.0  67.49915  44.469  200.958  27.270
 2006-06-15 00:00:00.001  14.000000  30.0  63.63455  58.476  224.352  31.425

                          Xba   Xp   So  Sno       Snh      Snd       Xnd  \
 Datetime
 2006-06-01 00:00:00.000  0.0  0.0  0.0  0.0  30.24762  6.36346  11.81400
 2006-06-01 00:15:00.000  0.0  0.0  0.0  0.0  30.21283  6.16731  11.81200
 2006-06-01 00:30:00.000  0.0  0.0  0.0  0.0  31.04771  6.17197  11.58900
 2006-06-01 00:45:00.000  0.0  0.0  0.0  0.0  31.67387  6.21602  11.38000
 2006-06-01 01:00:00.000  0.0  0.0  0.0  0.0  33.15925  6.45753  11.17200
 ...                      ...  ...  ...  ...       ...      ...       ...
 2006-06-14 23:00:00.001  0.0  0.0  0.0  0.0  34.14371  7.56245  10.26000
 2006-06-14 23:15:00.001  0.0  0.0  0.0  0.0  32.70355  7.18726  10.30900
 2006-06-14 23:30:00.001  0.0  0.0  0.0  0.0  31.46515  6.94567  10.30500
 2006-06-14 23:45:00.001  0.0  0.0  0.0  0.0  30.68245  6.74992  10.25200
 2006-06-15 00:00:00.001  0.0  0.0  0.0  0.0  30.24762  6.36346  11.81402

                          Salk        Q
 Datetime
 2006-06-01 00:00:00.000   7.0  21477.0
 2006-06-01 00:15:00.000   7.0  21474.0
 2006-06-01 00:30:00.000   7.0  19620.0
 2006-06-01 00:45:00.000   7.0  19334.0
 2006-06-01 01:00:00.000   7.0  18978.0
 ...                       ...      ...
 2006-06-14 23:00:00.001   7.0  19796.0
 2006-06-14 23:15:00.001   7.0  19265.0
 2006-06-14 23:30:00.001   7.0  18862.0
 2006-06-14 23:45:00.001   7.0  18409.0
 2006-06-15 00:00:00.001   7.0  21477.0

 [1345 rows x 15 columns],
 1345)

In [12]:
db.formatted_data

,t,Si,Ss,Xi,Xs,Xbh,Xba,Xp,So,Sno,Snh,Snd,Xnd,Salk,Q
Datetime,,,,,,,,,,,,,,,
2006-06-01 00:00:00.000,0.000000,30.0,63.63455,58.476,224.352,31.425,0.0,0.0,0.0,0.0,30.24762,6.36346,11.81400,7.0,21477.0
2006-06-01 00:15:00.000,0.010417,30.0,61.67313,58.459,224.324,31.420,0.0,0.0,0.0,0.0,30.21283,6.16731,11.81200,7.0,21474.0
2006-06-01 00:30:00.000,0.020833,30.0,61.71973,53.069,224.373,30.827,0.0,0.0,0.0,0.0,31.04771,6.17197,11.58900,7.0,19620.0
2006-06-01 00:45:00.000,0.031250,30.0,62.16018,51.462,220.973,30.270,0.0,0.0,0.0,0.0,31.67387,6.21602,11.38000,7.0,19334.0
2006-06-01 01:00:00.000,0.041667,30.0,64.57526,49.730,217.740,29.719,0.0,0.0,0.0,0.0,33.15925,6.45753,11.17200,7.0,18978.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-06-14 23:00:00.001,13.958333,30.0,75.62450,47.341,198.277,27.291,0.0,0.0,0.0,0.0,34.14371,7.56245,10.26000,7.0,19796.0
2006-06-14 23:15:00.001,13.968750,30.0,71.87255,46.476,200.320,27.422,0.0,0.0,0.0,0.0,32.70355,7.18726,10.30900,7.0,19265.0
2006-06-14 23:30:00.001,13.979167,30.0,69.45669,45.632,201.079,27.412,0.0,0.0,0.0,0.0,31.46515,6.94567,10.30500,7.0,18862.0
2006-06-14 23:45:00.001,13.989583,30.0,67.49915,44.469,200.958,27.270,0.0,0.0,0.0,0.0,30.68245,6.74992,10.25200,7.0,18409.0
2006-06-15 00:00:00.001,14.000000,30.0,63.63455,58.476,224.352,31.425,0.0,0.0,0.0,0.0,30.24762,6.36346,11.81402,7.0,21477.0

In [14]:
db.list_tables()

['formatted_data', 'raw_data', 'resampled_data', 'simulation_data']